@use 'variables/colors' as *;
@use 'variables/font-sizes' as *;

.section-container {
  width: 100%;
  background-color: $white;
  border-radius: 10px;
}

.section-header {
  padding: 0.6rem 1.2rem;
  color: $primary;
}

.section-content {
  padding: 0.6rem 2rem;

}